# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.6/en/server-configuration-defaults.html

[mysqld]

datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

# Default to UTF-8 for text columns
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci

# Up to 30% of system memory
key_buffer_size = 128M

max_connections = 50
table_open_cache = 128
query-cache-type = 1

# Do not set over 512MB
query_cache_size = 64M

query_cache_limit = 1M
join_buffer_size = 1M
sort_buffer_size = 1M
read_rnd_buffer_size = 1M
tmp_table_size = 64M
max_heap_table_size = 64M

# Pool Size 70% - 80% of total RAM
innodb_buffer_pool_size = 256M

thread_cache_size = 30
open_files_limit = 65535
max_allowed_packet = 16M

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# Recommended in standard MySQL setup
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
